<launch>

<node pkg="tf" type="static_transform_publisher" name="base_link_to_laser" args="0 0 0.1397 0 0 0 /base_link /base_laser 100" />

<node pkg="tf" type="static_transform_publisher" name="base_link_to_camera_rgb" args="0 0 0.3397 0 0 0 /base_link /camera_rgb_frame 100" />

<node pkg="tf" type="static_transform_publisher" name="base_link_to_camera_depth" args="0 0 0.3397 0 0 0 /base_link /camera_depth_frame 100" />

<node pkg="tf" type="static_transform_publisher" name="base_link_to_camera" args="0 0 0.3397 0 0 0 /base_link /camera_frame 100" />

<node pkg="tf" type="static_transform_publisher" name="base_link_to_camera_link" args="0 0 0.3397 0 0 0 /base_link /camera_link 100" />



	<node pkg="rosaria" name="base_drive" type="RosAria"
	required="true" output="screen"/>

	<remap from="/teleop/cmd_vel" to="/base_drive/cmd_vel"/>	
		
	<node pkg="turtlebot_teleop" name="teleop" type="turtlebot_teleop_joy"/>
	
	<node pkg="joy" name="joy" type="joy_node"/>
	<include file="$(find openni2_launch)/launch/openni2.launch"/>

	<include file="$(find unh_pioneer)/launch/LMS5xx_Publisher.launch"/>

</launch>
